@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);

:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    max-width: 68%;
    margin: 0 auto;
    font-size: 12px;
}

h1 {
    color: var(--heading-color);
    font-family: "Sansita One", sans-serif;
    font-size: 2rem;
    margin-bottom: 1vh;

}

p {
    font-size: 1.1rem;
    line-height: 1.6rem;

}

a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid transparent;

}

a:hover, a:focus {
    border-bottom: 3px solid currentColor;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}


input {
    accent-color: blue;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
    
.theme-switch-text {
    font-size: 1rem;
}
    
.theme-switch {
    height: 34px;
    position: relative;
}

.post-meta {
    font-size: 1rem;
    font-style: italic;
    display: block;
    margin-bottom: 4vh;
    color: var(--secondary-color);
}

    

