<!DOCTYPE html>
<html>
    <head>
        <title>Contenido multimedia</title>
        <meta charset="utf-8">
        <meta name="author" content="Natalia Cantó Soriano">
        <style>
            td {
                border: 1px solid;
            }
    
            table {
                border: 1px solid;
            }
    
            th {
                border: 1px solid;
                padding: 10px;
            }
            td {
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <a href="../../index.html">Volver a la página pincipal</a>
            </nav>
        </header>
        <main>
            <h1>Tablas</h1>
            <table>
                <caption>Horario de Primero de DAW/DAM</caption>
                <tr>
                    <th colspan="6">HORARIO</th>
                </tr>
                <tr>
                    <th rowspan="6">HORAS</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
                <tr>
                    <td>Entornos</td>
                    <td>Base de datos</td>
                    <td>Programación</td>
                    <td>Programación</td>
                    <td>Lenguaje de marcas</td>
                </tr>
                <tr>
                    <td>Programación</td>
                    <td>Programación</td>
                    <td>Bases de datos</td>
                    <td>Bases de datos</td>
                    <td>Lenguaje de marcas</td>
                </tr>
                <tr>
                    <th colspan="5">DESCANSO</th>
                </tr>
                <tr>
                    <td>Programación</td>
                    <td>Proramación</td>
                    <td>Entornos</td>
                    <td>Base de datos</td>
                    <td rowspan="2">Proyecto</td>
                </tr>
                <tr>
                    <td>Bases de datos</td>
                    <td>Bases de datos</td>
                    <td>Bases de datos</td>
                    <td>Entornos</td>
                </tr>
            </table>
        </main>
    </body>
</html>