<!DOCTYPE html>
<html>
    <head>
        <title>Contenido multimedia</title>
        <meta charset="utf-8">
        <meta name="author" content="Natalia Cantó Soriano">
    </head>
    <body>
        <header>
            <a href="../../index.html">Volver a la página principal</a>    
        </header>
        <main>
            <h1>Multimedia</h1>
            <section>
                <h2>Galería de imágenes</h2>
                <img src="../../assets/images/hojas-cayendo-de-los-arboles-en-pleno-otono.jpeg" alt="Otoño" width="420" height="280">
                <img src="../../assets/images/570e9be2-40f7-43df-b8f8-55119a792fd2_alta-libre-aspect-ratio_default_0.jpg" alt="Invierno" width="580" height="280">
                <img src="../../assets/images/Equinoccio-de-primavera.jpg" alt="Primavera" width="600" height="421">
                <img src="../../assets/images/7f89367c-63ee-4d8d-ae10-262eadabbaf3_alta-libre-aspect-ratio_default_0.jpg" alt="Verano" width="400" height="421">
                <img src="../../assets/images/kurbis-aushohlen-halloween-3-1.png" alt="Halloween" width="1005" height="400">
            </section>
            <section>
                <h2>Video</h2>
                <video src="../../assets/videos/robin_-_21723 (360p).mp4" controls autoplay></video>
            </section>
            <section>
                <h2>Audio</h2>
                <audio src="../../assets/audios/fun-background-music-for-short-video-vlog-heerful-light-accompanying-168572.mp3" controls loop></audio>
            </section>
            <section>
                <h2>Contenido externo</h2>
                <iframe src="https://developer.mozilla.org/es/docs/Web/HTML/Element/iframe" width="500" height="500"></iframe>
            </section>
        </main>
    </body>
</html>